.app-sidebar {
    background: #257d91;
}
.sidebar {
    min-height: calc(100vh - 63px);
    font-family: "roboto", sans-serif;
    background: -webkit-gradient(linear, left bottom, left top, from(#257d91), to(#2fb9af));
    background: linear-gradient(to top, #257d91, #2fb9af);
    padding: 0;
    width: 270px;
    z-index: 11;
    padding-top: 63px;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
}
.sidebar > .nav {
    overflow: hidden;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav .nav-item, .navbar-nav .nav-item {
    line-height: 1;
}
.sidebar > .nav .nav-item.nav-profile {
    max-width: 270px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.sidebar > .nav .nav-item .nav-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 30px 15px 55px;
    white-space: nowrap;
    color: #fff;
}
.sidebar > .nav > .nav-item > .nav-link {
    height: 52px;
}
.sidebar > .nav:not(.sub-menu) > .nav-item > .nav-link {
    background: transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: "ease-in-out";
    transition-timing-function: "ease-in-out";
    -webkit-transition-property: "background", "color", "box-shadow", "padding", "box-shadow";
    transition-property: "background", "color", "box-shadow", "padding", "box-shadow";
    transition-property: "background", "color", "box-shadow", "padding";
}
.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link {
    position: relative;
}
.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link:before {
    content: "";
    position: absolute;
    left: 30px;
    right: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #fff;
    display: block;
}
.sidebar > .nav .nav-item .nav-link .menu-icon {
    display: none;
    margin-right: 1.25rem;
    width: 16px;
    line-height: 1;
    font-size: 18px;
    color: #fff;
}
.sidebar > .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    vertical-align: middle;
    font-weight: 500;
}




.footer {
    background: #dbdbdb;
    padding: 20px 1rem;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    border-top: 1px solid #cdd6dc;
    font-size: calc(0.875rem - 0.05rem);
    font-family: "roboto", sans-serif;
}
.footer a {
    font-size: inherit;
}

.mdi-heart:before {
    content: "\F2D1";
}

.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}





.page-body-wrapper {
    min-height: calc(100vh - 63px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}

.navbar.default-layout .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #2fb9af;
    width: 270px;
    height: 63px;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 48px;
    margin-right: 0;
    padding: 0.25rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
    width: 170px;
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
}
.navbar.default-layout .navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #001737;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 270px);
    height: 63px;
    -webkit-box-shadow: 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    box-shadow: 0 4px 16px 0 rgba(167, 175, 183, 0.33);
}

.navbar.default-layout .navbar-menu-wrapper .navbar-toggler {
    border: 0;
    color: inherit;
    display: block;
}
.navbar.default-layout .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
    display: none;
}

.mdi-menu:before {
    content: "\F35C";
}

.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}